* {
 box-sizing: border-box;
}
:root{
    --font-heading:"Sen", sans-serif;
    --mauvang: rgb(79, 79, 5);
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    height: 10000px;;
}
.btn{
    display: inline-block;
    min-width: 118px;
    padding:0px 16px;
    line-height: 50px;
    color:white;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
background-color: black;
border-radius: 999px;
}
.btn:hover{
    opacity:0.9 ;
}
a{
    text-decoration: none;
}
.header{
    background: violet;
}
.header.fixed{
     position:sticky;
     top: -28px;
     z-index: 100;
}
.header .body{
    display: flex;
    align-items: center;
    padding: 36px 0px 8px;
}

.nav ul{
    display:flex;
}
.nav{
    margin-left:auto 
}
.main-content{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}
.nav a{
   color:#5f5b53;
   font-size: 1.6rem;
   padding: 8px 21px;
   position: relative;
}
li.active a,
.nav a:hover{
    color: black;
    text-shadow: 1px 0 0 black;
}
li.active a::after {
    display: block;
    content:"";
    width: 10px;
    height: 2px;
    border-radius: 5px;
    background: black;
 position:absolute;
 left: 22px;
 bottom:6px;
}
.header .btn-sign-up{
    min-width: 144px;
}
.header .action{
    margin-left: 49px;
}


/* ==========================hero============================== */
.hero{
    padding-top: 56px 0 65px;
    background-color: #FFFCF4;
}
.hero .body{
    display:flex
}
/* hero left */
.hero .media-block{
    width: 48%;
      position: relative;
}
.hero .conten-block{
    width: 52%;
}
.hero .media-block .img{
    width:470px ;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}
.hero .hero-summary{
    position:absolute;
    bottom:48px;
    right: 0;
    background-color: #FFFCF4;
    border-radius: 20px;
    box-shadow: 0 16px 32px 0px black;
    padding:24px;
}
.hero-summary .item{
    display:flex;
    align-items: center;
}
.hero-summary .item + .item{
    margin-top: 22px;
}
.hero-summary .icon{
    width: 48px;
    align-items: center;
    height: 48px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF9E8;
}
.hero-summary .icon2{
background-color:#FCEFFF ;
}
.hero-summary .icon3{
background-color:#EBEAFF ;
}
.hero-summary .info{
    margin-left: 16px;
}
.hero-summary .label{
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86rem;
}
.hero-summary .title{
    color : black;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}
/* hero right */
.hero .conten-block{
    width:52%;
    padding-left: 130px;
    padding-top: 64px;
}
.hero .heading{
    color: black;
    font-family: var(--font-heading);
font-weight: 700;
font-style: normal;
font-size: 5.8rem;
line-height: 1.17;
letter-spacing: -1.17%;
}
.hero .desc{
    margin-top: 22px;
font-weight: 400;
font-size: 1.8rem;
line-height: 1.67rem;
}
.hero .cta-group{
    margin-top: 38px;
    display: flex;
    align-items: center;
}
.hero .hero-cta{
    background-color: var(--mauvang);
    line-height: 60px;
}
.hero .watch-video{
    border: none;
    margin-bottom: 5px;
    background: transparent;
    display:flex;
    margin-left: 40px;
    align-items: center;
}
.hero .watch{
    font-family: Poppins;
    padding:5px 5px;
font-weight: 600;
font-style: SemiBold;
font-size: 18px;
line-height: 30px;
margin: 0 0 7px 2px;

}
.hero .watch-video .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    border-radius: 40px;
    background-color: #f0f3e7;
}
.hero .desc-recent{
    margin-top: 48px;
}
.hero .desc{
    font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 30px;
letter-spacing: 0%;

}
.hero .stats strong{
    color: black;
font-size: 4.4rem;
letter-spacing: 1.23;
font-family: var(--font-heading);
font-weight: 700;
margin-right: 5px;
}
.hero .stats{
    margin-top: 8px;
}
.hero .stats strong:nth-child(2){
margin-left: 28px;
}