* {
 box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    height: 10000px;;
}
.btn{
    display: inline-block;
    min-width: 118px;
    padding:0px 16px;
    line-height: 50px;
    color:white;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
background-color: black;
border-radius: 20px;
}
a{
    text-decoration: none;
}
.header{
    background: violet;
}
.header.fixed{
     position:sticky;
     top: -28px;
}
.header .body{
    display: flex;
    align-items: center;
    padding: 36px 0px 8px;
}

.nav ul{
    display:flex;
}
.nav{
    margin-left:auto 
}
.main-content{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}
.nav a{
   color:#5f5b53;
   font-size: 1.6rem;
   padding: 8px 21px;
   position: relative;
}
li.active a,
.nav a:hover{
    color: black;
    text-shadow: 1px 0 0 black;
}
li.active a::after {
    display: block;
    content:"";
    width: 10px;
    height: 2px;
    border-radius: 5px;
    background: black;
 position:absolute;
 left: 22px;
 bottom:6px;
}
.header .btn-sign-up{
    min-width: 144px;
}
.header .action{
    margin-left: 49px;
}